// override color so coloured bar at top of the card matches the designs
$color-mid-dark: #a87ca0;
@import "../node_modules/vanilla-framework/scss/vanilla";
@include vanilla;

//3px border top of card
.card--header {
    @include vf-highlight-bar;
    padding: .7rem 1rem .7em;
}

.card--content {
    border-top: 1px dotted #d9d9d9;
    margin: 0 .5rem;
    padding: .75rem .5rem .5rem;
}

.card--footer {
    border-top: 1px dotted #d9d9d9;
    margin: auto .5rem 0;
    max-width: inherit;
    padding: 1rem .5rem;
}
